<h1>Add a Milestone</h1>

<%= form_tag "/kids/#{@kid.id}/milestones", method: :post do %>
  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div>
    <%= label_tag :date %>
    <input type="date">
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>