<h3>Milestone</h3>

<p>Milestone: <%= @milestone.title %></p>
<p>Date: <%= @milestone.date %></p>
<p>Description: <%= @milestone.description %></p>

<%= link_to "Add Photos", "/kids/#{@kid.id}/milestones/#{@milestone.id}/images/new", class: "btn btn-success" %>

<!-- Show all images --> 


<!-- Add More Images -->


<%= form_tag "/kids/#{@kid.id}/milestones/#{@milestone.id}", method: :delete do %>
  <input class="btn btn-default" type="submit" value="Delete Milestone">
<% end %>

<%= link_to "Edit", "/kids/#{@kid.id}/milestones/#{@milestone.id}/edit", class: "btn btn-success" %>
<br>
<%= link_to "Back to Timeline", "/kids/#{@kid.id}", class: "btn btn-success" %>

