<h3>Milestone</h3>

<p>Milestone: <%= @milestone.title %></p>
<p>Date: <%= @milestone.date %></p>
<p>Description: <%= @milestone.description %></p>

<% @milestone.images.each do |image| %>
    <%= image_tag image.avatar.url(:medium) %><br>
    <%= form_tag "/kids/#{@kid_id}/milestones/#{@milestone_id}/images/#{image.id}", method: :delete do %>
      <input class="btn btn-default" type="submit" value="Delete Photo">
    <% end %>
<% end %>
<br>

<%= form_tag "/kids/#{@kid.id}/milestones", method: :post do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :comment %>
    <%= text_field_tag :text %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Add Photos", "/kids/#{@kid.id}/milestones/#{@milestone.id}/images/new" %>
<!-- add link to share milestone update via email -->

<%= form_tag "/kids/#{@kid.id}/milestones/#{@milestone.id}", method: :delete do %>
  <input class="btn btn-default" type="submit" value="Delete Milestone">
<% end %>

<%= link_to "Edit", "/kids/#{@kid.id}/milestones/#{@milestone.id}/edit", class: "btn btn-success" %>
<br>
<%= link_to "Back to Timeline", "/kids/#{@kid.id}", class: "btn btn-success" %>

