<h1>Add a Child</h1>

<%= form_tag "/kids", multipart: true, method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
    <div>
    <%= label_tag :middle_name %>
    <%= text_field_tag :middle_name %>
  </div>
    <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>
  <div>
    <%= label_tag :birthdate %>
    <%= text_field_tag :birthdate, nil, placeholder: "Ex: June 1, 2016" %>
  </div>

  <div>
    <%=file_field_tag :avatar %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>