<h2>Welcome to <%= @kid.first_name %>'s Timeline!</h2>

<a href="/users/#{current_user.id}">Back to Profile</a><br>

<%= form_tag "/kids/#{@kid.id}", method: :delete do %>
  <input class="btn btn-default" type="submit" value="Delete Timeline">
<% end %>

<%= button_to "Add a Milestone", "/kids/#{@kid.id}/milestones/new", :id => "open-contacts-dialog-btn", :class => "inbox-sf-add-btn tip", :method => :get %>

<!-- Create a loop for the code below for each milestone inputted -->

<%= timeline_container('Awesome title', Date.today, 'cd-icon-picture.svg') do %>
  <p>Lorem ipsum dolor sit amet.</p>
  <%= link_to 'See item', '#', class: 'cd-read-more' %>
<% end %>

<!-- 'Awesome title' is milestone.title, Date is milestone.date, p tag is milestone.description -->