<% if current_user %>
  <p align="right"><%= link_to "Add New Milestone", "/kids/#{@kid.id}/milestones/new" %></p>
  <p align="right"><%= link_to "Edit Child", "/kids/#{@kid.id}/edit" %></p>
<% end %>

<h2><center><%= @kid.first_name %>'s Milestones</h2>

<p align="center"><%= image_tag @kid.avatar.url(:medium), :class=> "img-circular" %></p>

<% @milestones.order(date: :desc).each do |milestone| %>
  <% id = milestone.id %>
  <%= timeline_container( milestone.title, milestone.date, '/assets/white_footprints.png') do %>
    <p><%= milestone.description %></p>      
      <% milestone.images.each do |image| %>
        <%= image_tag image.avatar.url(:thumb) %>
        </%>  
      <% end %>
    <%= link_to 'More Details', "/kids/#{@kid.id}/milestones/#{id}", class: 'cd-read-more' %>
  <% end %>
<% end %>

<% if current_user %>
  <%= form_tag "/kids/#{@kid.id}", method: :delete do %>
    <input class="btn btn-default" type="submit" value="Delete Timeline">
  <% end %>
<% end %>
<br>
<br>
<br>
<br>
