<h1>Welcome, <%= @user.username %>!</h1>
  
  <%= image_tag @user.avatar.url(:medium) %>

<h2>My Kids</h2>

<p>
  <% @kids.each do |kid| %>
    <a href="/kids/<%= kid.id %>">
    <%= kid.first_name %></a>
    <br>
  <% end %>
</p>

<%= button_to "Add Kid", '/kids/new', :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>

<!-- Add a Delete Child button -->