<p align="right"><%= link_to "Add a Child", '/kids/new' %></p>
<h2>Welcome, <%= @user.username %>!</h2>
<br>
<br>
<div class="wrapping-div" style="text-align: center;">
  <h3>My Kids</h3>
  <br>
  <% @kids.each do |kid| %>
    <div class="kid-something" style="display:inline-block;text-align: center;padding-right: 10px; padding-left: 10px;">
        <a href="/kids/<%= kid.id %>" style="font-family:Raleway";>
        <%= image_tag kid.avatar.url(:medium), :class=> "img-circular" %><br>
        <p><%= kid.first_name %> <%= kid.last_name %></a>
        <br>
        <br>
    </div>
  <% end %>
</div>




<!-- Add a Delete Child button -->