 <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @kid.first_name %> added a new milestone!</h1>
    <p>
      <%= @user.username %> updated <%= @kid.first_name %>'s timeline with a new milestone. To view <%= @kid.first_name %>'s timeline, click the link below.<br/>
    </p>
    <p>
      <%= link_to "#{@kid.first_name}'s Timeline", "@kid.first_name/kids/#{@kid.id}" %>
    </p>
  </body>